.logo {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.icon {
	width: 48px;
	height: 48px;
}

.text {
	font-size: 1.5rem;
	font-weight: 600;
}

@media (max-width: 576px) {
	.text {
		display: none;
	}
}
