.main {
	margin-top: var(----navbar-height);
	background: url('@/assets/background.webp') center center/cover no-repeat;
	object-fit: cover;
	height: calc(100vh - var(--navbar-height));
	display: flex;
	justify-content: center;
}

.container {
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	height: 100%;
	width: 100%;
	max-width: var(--breakpoint-sm);
}

.mainContent {
	width: 100%;
}
